{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class='text-center'>
    <h1>{{ title }}</h1>
    <h2>Works like a charm!!</h2>
    </div>

    <div class='container'>
        <div class='row'>
            <div class='col'>
                <p>
                    {{ content }}
                </p>
                <div class='col-sm-6 col-12'>
                    <form method='POST'> {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
<!--
                    <form method='POST'> {% csrf_token %}
                        <input class='form-control' type='text' placeholder='Name' name='fullname'>
                        <input class='form-control' type='email' placeholder='Email' name='email'>
                        <textarea class='form-control' type='submit' placeholder='Your info' name='content'></textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
-->                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}